.contribution-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.muted-text{
    color: gray;
    font-style: italic;

}

.contrib-input-group{
    margin-top: 15px;
   display: flex;
   gap:10px;
}
.contrib-input{
    flex-grow: 1;
}

.title-bool-group{
    display: flex;
}

.contrib-input-group{

}

.contribute-btn {
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #2c3e50;
    color: #fff;
}