:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --bg-color: #ecf0f1;
    --font-stack: 'Arial', sans-serif;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-stack);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.dashboard {
    max-width: 600px;
    width: 100%;
    margin: 2% auto;
    padding: 0;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.dashboard__loading,
.dashboard__error {
    text-align: center;
    padding: 20px;
}

.user-profile {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.user-profile__heading {
    margin: 0 0 10px;
    font-size: 24px;
    color: var(--primary-color);
}


.events-overview {
    padding: 20px;
}

.events-overview__heading {
    margin: 0 0 20px;
    font-size: 24px;
}


.event-list {
    margin-bottom: 20px;
}

.event-list__heading {
    margin: 0 0 10px;
    font-size: 20px;
    color: var(--secondary-color);
}

.title-text {
    font-weight: bold;
}

.event-list__item {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 2%;
    border-radius: var(--border-radius);
    display: flex;
    align-content: start;
}

.event-info{
    margin: 1%;
    flex-grow:3;
}

.user-role{
    border-left: 2px solid gray;
    align-self: center;
    text-align: center;
    flex-grow: 3;
    min-width: 20%;
}
.quick-rsvp{
    display: flex;
    flex-direction: column;
}
.button-group{
}

img{
    max-width: 100%;
    max-height: 20px; 
}