:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --bg-color: #ecf0f1;
    --font-stack: 'Arial', sans-serif;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-stack);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.large-column{
width: 66vw;
padding: 0 2%;
}

.small-column{
min-width: 33vw;
padding: 0 2%
}