.create-container {
    max-width: 700px;
    width: 100%;
    margin: 2% auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  
.hide {
    display: none;
}

/* Form Styles */
.form-label {
    font-weight: bold;
    display: block;
}

.form-controls {
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-radius: var(--border-radius);
    border: 1px solid #130c0c;

}

.add-guest-email{

}

.add-email-button{
    font-size: 1rem;
    padding: 1%;
}

.create-button{
    font-size: 1.5rem;
}