:root {
    --primary-color: #3498db;
    --font-stack: 'Arial', sans-serif;
    --border-radius: 8px;
}


body {
    font-family: var(--font-stack);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.container {
    max-width: 700px;
    width: 100%;
    height: 65%; 
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 63.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    max-height: 800px;
    overflow-y: auto;
    scroll-padding-top: 40px;
    
  }
  
.hide {
    display: none;
}

/* Form Styles */
.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}