.footer {
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  bottom: 0;
  margin: 0;
  padding: 2%;
  width: 100%;
}

.footer p{
  margin-block-start: 0;
  margin-block-end: 0;
}