.guest-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;

}

.response-numbers {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    gap: 10%;
}

.edit-guests {
    max-height: 100vh;
    display: block;
    padding: 2%;
    margin: 2% auto 0 auto;
    font-size: 1rem;

}

.guest-rsvp{
    display: flex;
    justify-content: space-between;
}

.display-rsvp{
    display: flex;
    gap: 5%;
    width: 50%;
    margin: auto;
    align-items: center;
}

.change-rsvp-button{
    color: var(--secondary-color);
    background-color: transparent;
    border: transparent;
    font-size: 1em;
}

.change-rsvp{
    display: flex;
    gap: 5%;
    width: 50%;
    margin: auto;
    align-items: center;

}
.save-rsvp-button{
    max-height: 1.75rem

}

#rsvp-dropdown{
    padding:5%
}
.rsvp-dropdown{
    width: 100%;
    display: inline;
}

.delete-guest{
    color: var(--danger-color);
    font-weight: bold;
    font-size: 0.9rem;
    outline: none;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.guest-button-group{
    display: flex;
    gap: 2%;
    justify-content: flex-end;
}

.guest-header-group{
    display: flex;
    flex-direction: row;
    align-items:last baseline;
    gap: 1%;
}

.see-all, a:visited{
    color: var(--secondary-color);
}