/* Header.css */

.header {
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: #999797 1px solid;

}

.header h1 {
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-size: 3rem; 
}

.header-button-group{
  display: flex;
  gap: 3%;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 50%;
}

.header .dashboard-button{
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: transparent;
  outline: none;
  border: none;
  display: inline;
}

.header .create-button{
  font-size: 1.5rem;
  color: var(--light-font-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 2%;
  outline: none;
  border: none;
  display: inline;
  /* min-width: 2rem; */
}



/* @media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

 
} */
