:root {
    --light-color: #FFF;
    --background-color: #999797;
    --primary-color: #F65858;
    --secondary-color:#0D99AA;
    --dark-header-color: #185369;
    --danger-color:#AA0D0D;
    --dark-font-color: #000;
    --light-font-color: #FFF;
    --font-stack: 'Arial', sans-serif;
    --border-radius: 15px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

* {
    font-family: 'Heebo', sans-serif;
}

body {
   margin: 0
}

main {
    /* border: 1px solid red; */
   padding: 0 1rem;
    /* background-color: var(--background-color); */
}


/* button {
    width: 25%;
    padding: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    display: inline-block;
} */


@media screen and (max-width: 890px){
    main{
        max-width: 95%;
    }
}