:root {
    --light-color: #FFF;
    --background-color: #F0F2F5;
    --primary-color: #F65858;
    --secondary-color:#0D99AA;
    --tertiary-color:  #185369;
    --quiet-color: #999797;
    --dark-header-color: #185369;
    --danger-color:#AA0D0D;
    --dark-font-color: #000;
    --light-font-color: #FFF;
    --font-stack: 'Arial', sans-serif;
    --border-radius: 15px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Heebo', sans-serif;
}

html{
    min-height: 100vh;
}

html, body {
    width: 100%;
   height: 100%;
    overflow-x: hidden;
}

.h3, h1, h2, h3, h4, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
   margin: 0;
   min-height: 100%;
}

body h2{
    color: var(--dark-header-color);
}

main {
   padding: 1rem;
    /* background-color: var(--background-color); */
    display: flex;
}

.cta-button{
    /* max-height: 25px; */
    border: var(--secondary-color) 1px solid;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    color: var(--light-font-color);
}

.edit-button{
    /* max-height: 25px; */
    border: var(--secondary-color) 1px solid;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--secondary-color);
}

.delete-button{
    /* max-height: 25px; */
    border: var(--danger-color) 1px solid;
    border-radius: var(--border-radius);
    background-color: var(--danger-color);
    color: var(--light-font-color);
}

.cancel-button{
    /* max-height: 25px; */
    border: var(--danger-color) 1px solid;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--danger-color);

}

.primary-button{
    /* max-height: 25px; */
    border: var(--primary-color) 1px solid;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--light-color);

}

.secondary-button{
    /* max-height: 25px; */
    border: var(--quiet-color) 1px solid;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--quiet-color);

}

.container{
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    padding: 2%;
    margin: 1% 0;
}

.flex-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

.remove-guest{
    margin:1%;
}

.full-page{
    min-height: 85vh
}

.content-padding{
    padding: 0 15%;
}

@media screen and (max-width: 990px){
    .content-padding{
        padding: 0;
    }
}

@media screen and (max-width: 890px){
    main{
        max-width: 95%;
    }
}

@media screen and (max-width: 768px){
    .content-padding{
        padding: 0;
    }
}