.landing-page h2{
  font-weight: 800;
  margin-block-start: 0;
  margin-block-end: 0em;
}

.landing-page h3{
  margin: 0px;
  margin-block-start:0;
  margin-block-end: 0;
  font-size: 1.1rem;  
  font-weight: 400;
}

.landing-page p{
  margin-block-start:0;
  margin-block-end: 0;
  font-weight: 200;
}

.features-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.landing-page-header {
  font-size: 35px;
  width: 100%;
  text-align: center;
}

.main-content{
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  justify-content: center;
}

.landing-page .features-overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feature-card {
  width: 25rem;
  height: 20rem;
  display: block;
  border: 2px solid var(--dark-accent);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.feature-card img{
  height: 10rem;
  aspect-ratio: 1/1;
  object-fit: cover !important;
  display: block;
  margin: auto;
}

.feature-card .feature-text{
  text-align: center;
  /* border: 1px solid purple; */
  padding: 0rem 1rem;
}

.start-button{
  margin: 3% auto;
  
}

@media screen and (max-width: 867px) {
  .features-overview{
    gap: 1%;
    row-gap: 5px;
  }
  .feature-card{
    width: 48%;
  }
  
}

@media screen and (max-width: 425px) {
  
  .feature-card{
    width: 100%;
  }
  
}