.login-container {
  background-color: #fff;
  height: 50%;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 3rem;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.login-form .form-group {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.login-form .form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--dark-font-color);
}

.login-form .form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.signin-button,
.signup-button-two {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.signin-button {
  margin-bottom: 20px;
}


.signup-button-two {
  margin-top: 20px;
}

#sign-up-redirect{
  color: var(--light-color)
}