:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --bg-color: #ecf0f1;
  --font-stack: 'Arial', sans-serif;
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.login-container {
  height: 550px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}



.login-form .form-group {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}



.login-form .form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}



.login-form .form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.login-form .form-control:focus {
  border-color: #3498db;
  outline: none;
}

.signin-button,
.signup-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  display: inline-block; 
}

.signin-button {
  margin-bottom: 20px; 
  background-color: #3498db;
  color: #fff;
}

.signin-button:hover {
  background-color: #2980b9;
}

.signup-button {
  margin-top: 20px; 
  background-color: #2ecc71;
  color: #fff;
}

.signup-button:hover {
  background-color: #27ae60;
}
